<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lafonapps.login" >
<application>

    <activity android:name=".activity.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:name=".activity.RegisterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:name=".activity.FindPswActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:name=".activity.ResetPswActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

</application>
</manifest>