<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lafonapps.xiaomiad">
    <!--小米广告所需权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />



    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.miui.zeus.mimo.sdk.activityProxy.ProxyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <activity
            android:name="com.miui.zeus.mimo.sdk.activityProxy.FullScreenProxyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />

    </application>

</manifest>
